# Object files
obj
*.o
*.lo

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*/src/.libs
*/src/.deps
*/config.log
*/examples
sdpb
tests
test.out

.DS_Store
docs/*.aux
docs/*.log
docs/*.out
docs/*.toc
