# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Exclude test/data/ folder (containing very large .m files) from gihub-linguist language stats.
test/data/** linguist-vendored
